.component2 {
  height: 241px;
  position: relative;
  width: 546px;
}

.component2 .carusel {
  align-items: flex-start;
  display: inline-flex;
  gap: 53px;
  left: 0;
  opacity: 0.8;
  position: absolute;
  top: 0;
}
.component2 .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999; 
}
.component2 .popupR {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999; 
}
.component2 .popupR-review {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 999;
  text-align: center; /* Center-align the content */
}

.component2 .popupR-review .review-message {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.component2 .popupR-review textarea {
  width: 100%;
  height: 200px;
  width: 200px;
  padding: 10px;
  margin-bottom: 10px;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.component2 .popup .close-btn {
  cursor: pointer;
  color: #333;
  font-weight: bold;
  text-align: center;
}
.component2 .popupR .close-btnR {
  cursor: pointer;
  color: #333;
  font-weight: bold;
  text-align: right;
}


.component2 .schedule {
  height: 32px;
  left:40px;
  position:absolute;
  top:76px;
  width:165px;
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Junge-Regular",Helvetica;
  font-size:40px;
  font-weight:400;
  text-shadow: 0px 4px 4px #00000040;
}
.component2 .tips {
  height: 32px;
  left:59px;
  position:absolute;
  top:60px;
  width:165px;
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Junge-Regular",Helvetica;
  font-size:40px;
  font-weight:400;
  text-shadow: 0px 4px 4px #00000040;
}
.component2 .review {
  height: 32px;
  left:52px;
  position:absolute;
  top:76px;
  width:165px;
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Junge-Regular",Helvetica;
  font-size:40px;
  font-weight:400;
  text-shadow: 0px 4px 4px #00000040;
}


.component2 .frame {
  background-color: #b3a9a2;
  border:1px solid;
  border-color: #000000;
  background-size: cover;
  border-radius: 20px;
  height: 199px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  width:242px;
}




.component2 .div {
  background-color: #b3a9a2;
  border:1px solid;
  border-color: #000000;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  height: 199px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  width:242px;
}


.component2 .frame-2 {
  background-color: #b3a9a2;
  border:1px solid;
  border-color: #000000;
  background-position: 50% 50%;
  background-size: cover;
  border-radius: 20px;
  height: 199px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-top: -1px;
  overflow: hidden;
  position: relative;
  width:242px;
}


.component2 .bars {
  align-items: flex-start;
  display: inline-flex;
  gap: 25px;
  left: 0;
  position: absolute;
  top: 221px;
}

.component2 .rectangle {
  background-color: #1c1706;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width:67px;
}

.component2 .rectangle-2 {
  background-color: #1c1706;
  border-radius: 10px;
  height: 20px;
  position: relative;
  width:30px;
}
.component2 .rectangle-4 {
  background-color: #1c1706;
  border-radius: 10px;
  height: 20px;
  position: relative;
}
.component2.text-wrapper{
  -webkit-text-stroke: 1px #000000;
  color: #000000;
  font-family: "Junge-Regular",Helvetica;
  font-size:40px;
  font-weight:400;
  left:49px;
  letter-spacing: 0;
  line-height: normal;
  position:absolute;
  text-shadow: 0px 4px 4px #00000040;
  top:69px;
  width:177px;
}

.component2.img {
  height: 20px;
  position: relative;
}

.component2 .frame-11 {
  width: 100px;
}

.component2 .frame-10 {
  width: 240px;
}

.component2 .frame-12 {
  width: 100px;
}

.component2 .property-1-frame-11 {
  width: 240px;
}

.component2 .property-1-frame-10 {
  width: 100px;
}

.component2 .property-1-frame-12 {
  width: 100px;
}

.component2 .property-1-0-frame-11 {
  width: 100px;
}

.component2 .property-1-0-frame-10 {
  width: 100px;
}

.component2 .property-1-0-frame-12 {
  width: 240px;
}

.component2 .property-1-1-frame-11 {
  width: 30px;
}

.component2 .property-1-1-frame-10 {
  width: 67px;
}

.component2 .property-1-1-frame-12 {
  width: 30px;
}

.component2 .property-1-2-frame-11 {
  width: 67px;
}

.component2 .property-1-2-frame-10 {
  width: 30px;
}

.component2 .property-1-2-frame-12 {
  width: 30px;
}

.component2 .property-1-3-frame-11 {
  width: 30px;
}

.component2 .property-1-3-frame-10 {
  width: 30px;
}

.component2 .property-1-3-frame-12 {
  width: 67px;
}