.frame-5 {
    background-color: #bac3f0;
    box-shadow: 0px 4px 4px #00000040;
    height: 163px;
    left: 20px;
    position: relative;
    top: 20px;
    width: 403px;
  }
  
  .frame-5 .frame-3 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
    left: 15px;
    position: relative;
    top: 21px;
  }
  
  .frame-5 .employees-teams-variant4 {
    left: unset !important;
    position: relative !important;
    top: unset !important;
  }
  
  .frame-5 .text-wrapper-2 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 24px;
    font-weight: 700;
    height: 29px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 173px;
  }
  
  .frame-5 .text-wrapper-3 {
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 300;
    height: 32px;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: 152px;
  }
  
  .frame-5:hover {
    top: 203px;
    box-shadow: 0px 8px 8px #00000080; /* Add shadow on hover */
  }
  .frame-5.clicked {
    filter: blur(1px);
    /* Add any other styles for the clicked state */
  }